<%- include("partials/header") -%>

<body>

  <%- include("partials/navigation") -%>

  <!-- Container Start -->
  <div class="container home-container shadow">

    <section>

      <!-- Default header and paragraph -->
      <h1 class="home-h1">Home</h1>
      <p class="home-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <!-- Divide post after initial header and paragraph -->
      <hr class="hr-home">

      <!-- Iterate over every post stored in array object -->
      <% postsArray.forEach(function(post, index){ %>

      <!-- Individual post header and content -->
      <h1 class="home-post-title"> <%= post.title %> </h1>
      <p class="home-content">
        <%= post.postContent.substr(0, 100) + " ..." %>
        <a href="/posts/<%= post._id %>">Read More</a>
      </p>

      <!-- Dividing each post with hr element skip last line -->
      <%  if (!(index == postsArray.length - 1)){ %>
      <hr class="hr-home">
      <% } %>

      <% }); %>

    </section>

  </div> <!-- Container End -->

</body>

<%- include("partials/footer") -%>

</html>
